# [作業目標]
- 使用 Day 17 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 17 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = '../../data/'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 17 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [5]:
app_train["DAYS_BIRTH"] = pd.cut(app_train["DAYS_BIRTH"], 365)
app_train["DAYS_BIRTH"].value_counts()

(14098.973, 14147.575]     1289
(14730.808, 14779.411]     1245
(13418.534, 13467.137]     1242
(14196.178, 14244.781]     1234
(14341.986, 14390.589]     1222
(10064.945, 10113.548]     1216
(13710.151, 13758.753]     1205
(13272.726, 13321.329]     1202
(14001.767, 14050.37]      1202
(13612.945, 13661.548]     1201
(13661.548, 13710.151]     1200
(15897.274, 15945.877]     1199
(13758.753, 13807.356]     1193
(14293.384, 14341.986]     1191
(14244.781, 14293.384]     1187
(14536.397, 14585]         1176
(14779.411, 14828.0137]    1174
(11571.63, 11620.233]      1174
(14390.589, 14439.192]     1172
(13855.959, 13904.562]     1169
(14828.0137, 14876.616]    1168
(13564.342, 13612.945]     1167
(13175.521, 13224.123]     1167
(10016.342, 10064.945]     1166
(15216.836, 15265.438]     1163
(14147.575, 14196.178]     1158
(11523.0274, 11571.63]     1155
(13467.137, 13515.74]      1154
(13904.562, 13953.164]     1153
(10113.548, 10162.151]     1144
                           ...
(24645.767, 24694.37]       280
(24208.342, 24256.945]      273
(24597.164, 24645.767]      270
(24548.562, 24597.164]      262
(24499.959, 24548.562]      254
(24305.548, 24354.151]      253
(8023.63, 8072.233]         252
(24256.945, 24305.548]      245
(24451.356, 24499.959]      235
(24354.151, 24402.753]      234
(24402.753, 24451.356]      212
(7780.616, 7829.219]        191
(7732.0137, 7780.616]       190
(7683.411, 7732.0137]       188
(7877.822, 7926.425]        179
(7926.425, 7975.0274]       173
(7829.219, 7877.822]        149
(7975.0274, 8023.63]        148
(24840.178, 24888.781]      140
(24888.781, 24937.384]      127
(24937.384, 24985.986]      123
(24985.986, 25034.589]      112
(25034.589, 25083.192]       88
(25083.192, 25131.795]       78
(25131.795, 25180.397]       63
(7634.808, 7683.411]         20
(25180.397, 25229]           18
(7471.26, 7537.603]           1
(7586.205, 7634.808]          0
(7537.603, 7586.205]          0
Name: DAYS_BIRTH, dtype: int64